git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
transformers==5.2.0
bitsandbytes>=0.43.0
huggingface_hub
qwen-vl-utils
sentencepiece
opencv-python
torchvision
supervision
molmo_utils
matplotlib
requests
kernels
tokenizers
hf_xet
einops
spaces
pillow
gradio
torch
timm
av